/*
:root {
    --main-light: #d174e0;
    --main: #9e44ae;
    --dark: #161616;
    --dark-light: #303030;
    --white: #eee;
    --grey: #8d837d;
}
*/
:root {
  --main-light: #e864ff;
  --main: #9e44ae;
  --dark: #252226;
  --dark-light: #3c373d;
  --white: #F6F3F7;
  --grey: #7c6680;
}
