nav.navbar {
  padding: 0;
  display: initial;
}

.navbar-brand > a {
  text-decoration: none;
  border: 0;
}

.navbar-item img {
  max-height: 3.25rem;
}

nav.navbar > .navbar-menu {
  background-color: initial;
}

nav.navbar .navbar-dropdown {
  background-color: var(--dark-light);
  min-width: max-content;
  border-top: 1px solid var(--main-light);
}

.navbar a:active, .navbar a:hover,
.navbar a:focus, .navbar a:focus,
.navbar a.active:focus, .navbar a.active:focus,
.navbar a.active:active, .navbar a.active:hover {
  color: var(--white);
  background-color: var(--main);
}

.has-dropdown:hover .navbar-link {
  background-color: initial !important;
  border: 0 !important;
}

.navbar-item, .navbar-link {
  color: var(--lt-color-gray-500);
  text-transform: uppercase;
}

.navbar-link::after {
  border-color: var(--main-light) !important;
}

@media (min-width:961px) {
  nav.navbar {
    display: flex;
  }
}
