nav.navbar {
  padding: 0;
  display: initial;
}

nav.navbar > .navbar-brand a.navbar-item {
  text-decoration: none;
  border: 0;
}

.navbar-item img {
  max-height: 3.25rem;
}

nav.navbar > .navbar-menu {
  background-color: initial;
}

.navbar-menu a:active, .navbar-menu a:hover,
.navbar-menu a:focus, .navbar-menu a:focus,
.navbar-menu a.active:focus, .navbar-menu a.active:focus,
.navbar-menu a.active:active, .navbar-menu a.active:hover {
  color: var(--white);
  background-color: var(--main);
}

.navbar-item, .navbar-link {
  color: var(--lt-color-gray-500);
  text-transform: uppercase;
}

@media (min-width:961px) {
  nav.navbar {
    display: flex;
  }
}
