.content a {
  border-bottom-width: 1px !important;
  color: var(--main-light);
}

.center.hidden-menu {
  color: var(--main-light);
}

hr {
  background-color: initial;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: var(--white);
  border-width: 1px 0 0 0;
  border-radius: 20px;
}

hr:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: var(--main);
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

section.welcome .image-box {
  min-height: 200px;
}

section.welcome .image-box img {
  object-fit:cover;
  object-position: center;
  width: 160px;
  height: 198px;
}

section.welcome .columns > .column {
  flex-basis: 50%;
}

section.welcome .column p {
  margin-top: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--dark-light);
  padding: 0.7rem;
  color: var(--white);
}

.footer a {
  color: var(--main);
}

.footer .link-bar {
  padding: 2.25rem;
}

@media screen and (min-width: 769px) {
  section.welcome .columns > .column {
    flex-basis: 25%;
  }
  section.welcome .image-box {
    height: 390px;
  }
  section.welcome .image-box img {
    width:310px;
    height: 395px;
  }
}

div[path*="/about/"] img {
  object-fit: cover;
  width: 248px;
  height: 248px;
  border-radius: 4px;
  border-bottom: 50px solid var(--white);
  border: 10px solid var(--white);
  border-bottom: 60px solid var(--white);
  box-sizing: content-box;
}
