<div class="content has-text-centered">
    <div class="link-bar">
      [<a href="/about/#contact-me">Contact Form</a>]
      [<a href="/license">License & Terms</a>]
      [<a href="https://artistiekportret.nl" target="_blank" rel="noopener">Artistiek Portret</a>]
      [<a href="/tags">Browse photo tags</a>]
      [<a href="/qr">QR-Code</a>]
    </div>
    <p class="pt-6">I create fine art portraiture, black and white street photography, and conceptual photo art from Monster, near The Hague.</p>
    <p>
        {{ with .Site.Params.Copyright }}
            {{ . }} <br>
        {{ end }}
        {{ with .Site.Params.Author }}
            © {{ dateFormat "2006" now }}, {{ . }}.
        {{ end }}
    </p>
    {{ if not .Site.Params.DontShowSource}}
        <p>
            Made with
            <a target="_blank" class="source-love" href="https://github.com/boratanrikulu/eternity">Love</a>
            <i class="fa-solid fa-heart"></i>
        </p>
    {{ end }}
</div>
<a class="whatsapp-floating-contact" href="https://wa.me/31614682555" target="_blank" rel="noopener" aria-label="Contact Thomas via WhatsApp">
    <i class="fa-brands fa-whatsapp" aria-hidden="true"></i>
</a>
