<div class="content has-text-centered">
    <div class="link-bar">
      [<a href="/about/#contact-me">Contact Form</a>]
      [<a href="/tags">Browse photo tags</a>]
    </div>
    <p>
        {{ with .Site.Params.Copyright }}
            {{ . }} <br>
        {{ end }}
        {{ with .Site.Params.Author }}
            © {{ dateFormat "2006" now }}, {{ . }}.
        {{ end }}
    </p>
    {{ if not .Site.Params.DontShowSource}}
        <p>
            Made with
            <a target="_blank" class="source-love" href="https://github.com/boratanrikulu/eternity">Love</a>
            <i class="fa-solid fa-heart"></i>
        </p>
    {{ end }}
</div>
<script src="https://formspree.io/js/formbutton-v1.min.js" defer></script>
<script>
  /* paste this line in verbatim */
  window.formbutton=window.formbutton||function(){(formbutton.q=formbutton.q||[]).push(arguments)};
  /* customize formbutton below*/
  formbutton("create", {
    action: "https://formspree.io/f/mnqyjedd",
    title: "How can we help?",
    fields: [
      {
        type: "email",
        label: "Email:",
        name: "email",
        required: true,
        placeholder: "your@email.com"
      },
      {
        type: "textarea",
        label: "Message:",
        name: "message",
        placeholder: "What's on your mind?",
      },
      { type: "submit" }
    ],
    styles: {
      title: {
        backgroundColor: "#9e44ae"
      },
      button: {
        backgroundColor: "#9e44ae"
      }
    }
  });
</script>
