<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ if and .Title (not .IsHome) }}
		<title>{{ .Title }}</title>
	{{ else }}
		<title>{{ .Site.Title }}</title>
	{{ end }}
	{{ partial "meta" . }}

	<link rel="icon" type="image/png" href={{ "favicon.ico" | absURL }} />
	<link rel="stylesheet" href={{ "css/main.css" | absURL }}>
	<script src={{ "js/main.js" | absURL }}></script>
	{{ partial "style.html" . }}
	<script src="https://kit.fontawesome.com/bf18cd1a66.js" crossorigin="anonymous"></script>
	{{ partial "fonts.html" . }}
	{{ partial "helpers/plausible" . }}
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GBLD7612EJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GBLD7612EJ');
</script>

<body>
