{{- $siteTitle := default .Site.Title .Site.Params.sitename -}}
{{- $pageTitle := default $siteTitle .Title -}}
{{- $description := .Description -}}
{{- if not $description -}}
  {{- $description = .Params.description -}}
{{- end -}}
{{- if not $description -}}
  {{- $description = .Params.subtitle -}}
{{- end -}}
{{- if not $description -}}
  {{- $description = .Site.Params.description -}}
{{- end -}}
{{- if not $description -}}
  {{- $description = .Site.Params.subtitle -}}
{{- end -}}
{{- $description = $description | plainify | htmlUnescape -}}

<meta name="description" content="{{ $description | htmlEscape }}" />
<meta itemprop="name" content="{{ $pageTitle | htmlEscape }}" />
<meta property="og:title" content="{{ $pageTitle | htmlEscape }}" />
<meta name="twitter:title" content="{{ $pageTitle | htmlEscape }}" />
<meta property="og:site_name" content="{{ $siteTitle | htmlEscape }}" />
<meta itemprop="description" content="{{ $description | htmlEscape }}" />
<meta property="og:description" content="{{ $description | htmlEscape }}" />
<meta name="twitter:description" content="{{ $description | htmlEscape }}" />
<base href="{{ .RelPermalink }}">
<link rel="canonical" href="{{ .Permalink }}" itemprop="url" />
<meta name="url" content="{{ .Permalink }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="robots" content="{{ if eq $pageTitle "404" }}noindex, nofollow{{ else }}index, follow{{ end }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else if or (eq .Kind "taxonomy") (eq .Kind "term") }}collection{{ else }}article{{ end }}" />
{{- $card := "summary" -}}
{{- $img := slice -}}
{{- $scratch := newScratch -}}
{{- if .Params.images -}}
  {{- partial "helpers/get" (dict "scratch" $scratch "row" .Params ) -}}
  {{- $img = $scratch.Get "img" -}}
{{- else if .Site.Params.image -}}
  {{- $row := dict "images" (slice .Site.Params.image) -}}
  {{- partial "helpers/get" (dict "scratch" $scratch "row" $row) -}}
  {{- $img = $scratch.Get "img" -}}
{{- end -}}
{{- with $img -}}
  {{- $image := .Fill "1200x630 center png" -}}
  {{- $card = "summary_large_image" -}}
  <meta itemprop="image" content="{{ $image.Permalink }}" />
  <meta property="og:image" content="{{ $image.Permalink }}" />
  <meta property="og:image:width" content="{{ $image.Width }}" />
  <meta property="og:image:height" content="{{ $image.Height }}" />
  <meta property="og:image:alt" content="{{ $pageTitle | htmlEscape }}" />
  <meta name="twitter:image" content="{{ $image.Permalink }}" />
{{- end -}}
<meta name="twitter:card" content="{{ $card }}" />
{{- with .Site.Params.author }}
  <meta name="twitter:creator" content="{{ . | htmlEscape }}" />
{{- end }}
<meta property="og:locale" content="{{ .Language.Lang }}">

{{- $author := dict "@type" "Person" "name" .Site.Params.author -}}
{{- $publisher := dict "@type" "Organization" "name" $siteTitle "url" .Site.BaseURL -}}
{{- $schema := dict "@context" "https://schema.org" -}}
{{- if .IsHome -}}
  {{- $schema = merge $schema (dict
    "@type" "WebSite"
    "name" $siteTitle
    "url" .Site.BaseURL
    "description" $description
    "inLanguage" .Site.Language.Lang
    "publisher" $publisher
  ) -}}
{{- else if or (eq .Kind "taxonomy") (eq .Kind "term") -}}
  {{- $schema = merge $schema (dict
    "@type" "CollectionPage"
    "name" $pageTitle
    "url" .Permalink
    "description" $description
    "inLanguage" .Site.Language.Lang
  ) -}}
{{- else if eq .RelPermalink "/about/" -}}
  {{- $schema = merge $schema (dict
    "@type" "AboutPage"
    "name" $pageTitle
    "url" .Permalink
    "description" $description
    "inLanguage" .Site.Language.Lang
    "author" $author
    "publisher" $publisher
  ) -}}
{{- else -}}
  {{- $schema = merge $schema (dict
    "@type" "BlogPosting"
    "headline" $pageTitle
    "name" $pageTitle
    "url" .Permalink
    "description" $description
    "inLanguage" .Site.Language.Lang
    "author" $author
    "publisher" $publisher
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink)
  ) -}}
  {{- with .Date -}}
    {{- $schema = merge $schema (dict "datePublished" (.Format "2006-01-02T15:04:05Z07:00")) -}}
  {{- end -}}
  {{- with .Lastmod -}}
    {{- $schema = merge $schema (dict "dateModified" (.Format "2006-01-02T15:04:05Z07:00")) -}}
  {{- end -}}
{{- end -}}
{{- with $img -}}
  {{- $schema = merge $schema (dict "image" (slice .Permalink)) -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>

{{- $breadcrumbItems := slice (dict
  "@type" "ListItem"
  "position" 1
  "name" $siteTitle
  "item" .Site.BaseURL
) -}}
{{- if not .IsHome -}}
  {{- if or (eq .Kind "taxonomy") (eq .Kind "term") -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict
      "@type" "ListItem"
      "position" 2
      "name" "Tags"
      "item" (absURL "tags/")
    ) -}}
    {{- if eq .Kind "term" -}}
      {{- $breadcrumbItems = $breadcrumbItems | append (dict
        "@type" "ListItem"
        "position" 3
        "name" $pageTitle
        "item" .Permalink
      ) -}}
    {{- end -}}
  {{- else -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict
      "@type" "ListItem"
      "position" 2
      "name" $pageTitle
      "item" .Permalink
    ) -}}
  {{- end -}}
  <script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $breadcrumbItems | jsonify | safeJS }}</script>
{{- end -}}

{{- if eq .Kind "term" -}}
  {{- $itemList := slice -}}
  {{- range $idx, $page := first 10 (.Pages.ByWeight.Reverse) -}}
    {{- $itemList = $itemList | append (dict
      "@type" "ListItem"
      "position" (add $idx 1)
      "name" $page.Title
      "url" $page.Permalink
    ) -}}
  {{- end -}}
  {{- if gt (len $itemList) 0 -}}
    <script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "ItemList" "name" $pageTitle "itemListElement" $itemList | jsonify | safeJS }}</script>
  {{- end -}}
{{- end -}}
