{{ $homeLink := .Site.Params.Homepage }}
{{ if .IsHome }}
    {{ $homeLink = "/" }}
{{ end }}
{{ $socials := .Site.Params.socials }}
{{ if and .IsHome $socials }}
    {{ $socials = where $socials "landing" true }}
{{ end }}
<nav class="navbar is-fixed-top zonepub-collapsed-navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href={{ relref . "/" }} class="navbar-item">
        <picture>
          <source media="(max-width: 1280px)" srcset={{ "logo-square.png" | absURL }} />
          <source media="(min-width: 1279px)" srcset={{ "logo-long.png" | absURL }} />
          <img src={{ "logo-square.png" | absURL }} alt="Zone.Photos Logo" />
        </picture>
      </a>

        <button type="button" class="navbar-burger" aria-label="Open main menu" aria-expanded="false" aria-controls="mainNavbar" data-target="mainNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
    </div>

    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
            {{ if and .Site.Menus .Site.Menus.main }}
              {{ $currentPage := .RelPermalink }}
              {{ range $i, $el := .Site.Menus.main }}
                  {{ $active := "" }}
                  {{ if eq $el.URL $currentPage }}
                      {{ $active = "active" }}
                  {{ end }}
                  <a class="{{ $active }} navbar-item" href="{{ $el.URL }}">{{ $el.Name }}</a>
              {{ end }}
            {{ end }}
            {{ if and .Site.Menus .Site.Menus.more }}
              {{ $currentPage := .RelPermalink }}
              {{ range $i, $el := .Site.Menus.more }}
                  {{ $active := "" }}
                  {{ if eq $el.URL $currentPage }}
                      {{ $active = "active" }}
                  {{ end }}
                  <a class="navbar-item {{ $active }}" href="{{ $el.URL }}">{{ $el.Name }}</a>
              {{ end }}
            {{ end }}
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{ range $el := $socials }}
                  <a href="{{ $el.url }}" {{ if $el.rel_me }} rel="me" {{ end }} target="_blank" class="button is-white">
                      <i class="{{ $el.icon }}"></i>
                  </a>
              {{ end }}
            </div>
          </div>
      </div>
    </div>
</nav>
