{{ $homeLink := .Site.Params.Homepage }}
{{ if .IsHome }}
    {{ $homeLink = "/" }}
{{ end }}
{{ $socials := .Site.Params.socials }}
{{ if and .IsHome $socials }}
    {{ $socials = where $socials "landing" true }}
{{ end }}
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a href={{ relref . $homeLink }} class="navbar-item">
        <img src={{ "logo.png" | absURL }} alt="Theodoor Thomas Life Photography">
      </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
            {{ if and .Site.Menus .Site.Menus.main }}
              {{ $lastIndex := sub (len .Site.Menus.main) 1 }}
              {{ $currentPage := .RelPermalink }}
              {{ range $i, $el := .Site.Menus.main }}
                  {{ $active := "" }}
                  {{ if eq $el.URL $currentPage }}
                      {{ $active = "active" }}
                  {{ end }}
                  <a class="{{ $active }} navbar-item" href="{{ $el.URL }}">{{ $el.Name }}</a>
              {{ end }}
            {{ end }}
            {{ if and .Site.Menus .Site.Menus.main }}
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <span>Articles & Publications</span>
              </a>

              <div class="navbar-dropdown">
                {{ $lastIndex := sub (len .Site.Menus.more) 1 }}
                {{ $currentPage := .RelPermalink }}
                {{ range $i, $el := .Site.Menus.more }}
                    {{ $active := "" }}
                    {{ if eq $el.URL $currentPage }}
                        {{ $active = "active" }}
                    {{ end }}
                    <a class="navbar-item {{ $active }}" href="{{ $el.URL }}">{{ $el.Name }}</a>
                {{ end }}
              </div>
            </div>
            {{ end }}
      </div>
      <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              {{ range $el := $socials }}
                  <a href="{{ $el.url }}" {{ if $el.rel_me }} rel="me" {{ end }} target="_blank" class="button is-white">
                      <i class="{{ $el.icon }}"></i>
                  </a>
              {{ end }}
            </div>
          </div>
      </div>
    </div>
</nav>
